In [1]:
from mapper_server import MAPPER_SERVER

In [2]:
ms = MAPPER_SERVER()

In [3]:
ms

In [4]:
ms.memory

     latitude   longitude
北京  39.910925  116.413384

In [5]:
ms.checkout('Beijing')

Error occured on checkout Beijing: KeyError('result')

(None, None)

In [6]:
ms.checkout('北京')

(39.910924547299565, 116.4133836971231)

In [7]:
ms.memory

     latitude  longitude  longtitude
北京  39.910925        NaN  116.413384

In [7]:
ms._write_memory()